name: <github_repository_name>-cd-prd

on:
  release:
    types: [published]
    paths-ignore:
      - ".gitignore"
      - "**.md"
      - "docs/**"

env:
  TF_VERSION: <terraform_version>
  TFNOTIFY_VERSION: <github_actions_tfnotify_version>

jobs:
  terraform_apply_prd:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      issues: write
      pull-requests: write
    steps:
      - name: main checkout
        uses: actions/checkout@v4

      - name: authenticate to google cloud
        uses: google-github-actions/auth@v2
        with:
          service_account: ${{ secrets.<github_secret_prd_gcp_iam_service_account_key> }}
          workload_identity_provider: ${{ secrets.<github_secret_prd_gcp_iam_workload_identity_key> }}

      - name: generate github apps access token
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.<github_secret_lvgs_github_app_id> }}
          private-key: ${{ secrets.<github_secret_lvgs_github_app_private_key> }}
          owner: "lv-technology-strategy"

      - name: github modules checkout
        uses: actions/checkout@v4
        with:
          repository: "lv-technology-strategy/github-actions-modules"
          ref: <github_actions_tfaction_version>
          path: ${{ github.workspace }}/.github/modules
          token: ${{ steps.generate_token.outputs.token }}

      - name: terraform cd
        uses: ./.github/modules/actions/terraform-cd
        with:
          github-apps-access-token: ${{ steps.generate_token.outputs.token }}
          notify-tfapply-results: enabled
          terraform-version: ${{ env.TF_VERSION }}
          terraform-dir-rel-path: src/prd
          tfnotify-version: ${{ env.TFNOTIFY_VERSION }}
          tfnotify-target-var: <service_kebab_name>-prd
          tfnotify-config-rel-path: .tfnotify/slack.yml
          slack-token: ${{ secrets.<github_secret_slack_app_oauth_token_key> }}
          slack-channel-id: ${{ secrets.<github_secret_prd_slack_channel_id_key> }}
          slack-bot-name: <slack_tfnotify_bot_name>
