name: example-svc-terraform-ci

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - ".gitignore"
      - "**.md"
      - "docs/**"

env:
  TF_VERSION: 1.12.2
  TFCMT_VERSION: v4.14.7

jobs:
  terraform_plan_prd:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      issues: write
      pull-requests: write
    steps:
      - name: main checkout
        uses: actions/checkout@v4

      - name: merge into default branch
        run: bash ${{ github.workspace }}/bin/git-merge.sh ${{ github.head_ref }} ${{ github.base_ref }}

      - name: authenticate to google cloud
        uses: google-github-actions/auth@v2
        with:
          service_account: ${{ secrets.PRD_GCP_IAM_SERVICE_ACCOUNT }}
          workload_identity_provider: ${{ secrets.PRD_GCP_IAM_WORKLOAD_IDENTITY_PROVIDER }}

      - name: generate github apps access token
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.LVGS_GITHUB_APP_ID }}
          private-key: ${{ secrets.LVGS_GITHUB_APP_PRIVATE_KEY }}
          owner: "lv-technology-strategy"

      - name: github modules checkout
        uses: actions/checkout@v4
        with:
          repository: "lv-technology-strategy/github-actions-modules"
          ref: v1.0.2
          path: ${{ github.workspace }}/.github/modules
          token: ${{ steps.generate_token.outputs.token }}

      - name: terraform ci
        uses: ./.github/modules/actions/terraform-ci
        with:
          github-apps-access-token: ${{ steps.generate_token.outputs.token }}
          comment-tfplan-results: enabled
          terraform-version: ${{ env.TF_VERSION }}
          terraform-dir-rel-path: src/prd
          tfcmt-version: ${{ env.TFCMT_VERSION }}
          tfcmt-target-var: example-svc-prd
          tfcmt-config-rel-path: .tfcmt/github.yml
          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-pr-head-sha: ${{ github.event.pull_request.head.sha }}
          github-pr-number: ${{ github.event.number }}

  terraform_plan_stg:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      issues: write
      pull-requests: write
    steps:
      - name: main checkout
        uses: actions/checkout@v4

      - name: merge into default branch
        run: bash ${{ github.workspace }}/bin/git-merge.sh ${{ github.head_ref }} ${{ github.base_ref }}

      - name: authenticate to google cloud
        uses: google-github-actions/auth@v2
        with:
          service_account: ${{ secrets.STG_GCP_IAM_SERVICE_ACCOUNT }}
          workload_identity_provider: ${{ secrets.STG_GCP_IAM_WORKLOAD_IDENTITY_PROVIDER }}

      - name: generate github apps access token
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.LVGS_GITHUB_APP_ID }}
          private-key: ${{ secrets.LVGS_GITHUB_APP_PRIVATE_KEY }}
          owner: "lv-technology-strategy"

      - name: github modules checkout
        uses: actions/checkout@v4
        with:
          repository: "lv-technology-strategy/github-actions-modules"
          ref: v1.0.2
          path: ${{ github.workspace }}/.github/modules
          token: ${{ steps.generate_token.outputs.token }}

      - name: terraform ci
        uses: ./.github/modules/actions/terraform-ci
        with:
          github-apps-access-token: ${{ steps.generate_token.outputs.token }}
          comment-tfplan-results: enabled
          terraform-version: ${{ env.TF_VERSION }}
          terraform-dir-rel-path: src/stg
          tfcmt-version: ${{ env.TFCMT_VERSION }}
          tfcmt-target-var: example-svc-stg
          tfcmt-config-rel-path: .tfcmt/github.yml
          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-pr-head-sha: ${{ github.event.pull_request.head.sha }}
          github-pr-number: ${{ github.event.number }}

  terraform_plan_dev:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      issues: write
      pull-requests: write
    steps:
      - name: main checkout
        uses: actions/checkout@v4

      - name: merge into default branch
        run: bash ${{ github.workspace }}/bin/git-merge.sh ${{ github.head_ref }} ${{ github.base_ref }}

      - name: authenticate to google cloud
        uses: google-github-actions/auth@v2
        with:
          service_account: ${{ secrets.DEV_GCP_IAM_SERVICE_ACCOUNT }}
          workload_identity_provider: ${{ secrets.DEV_GCP_IAM_WORKLOAD_IDENTITY_PROVIDER }}

      - name: generate github apps access token
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.LVGS_GITHUB_APP_ID }}
          private-key: ${{ secrets.LVGS_GITHUB_APP_PRIVATE_KEY }}
          owner: "lv-technology-strategy"

      - name: github modules checkout
        uses: actions/checkout@v4
        with:
          repository: "lv-technology-strategy/github-actions-modules"
          ref: v1.0.2
          path: ${{ github.workspace }}/.github/modules
          token: ${{ steps.generate_token.outputs.token }}

      - name: terraform ci
        uses: ./.github/modules/actions/terraform-ci
        with:
          github-apps-access-token: ${{ steps.generate_token.outputs.token }}
          comment-tfplan-results: enabled
          terraform-version: ${{ env.TF_VERSION }}
          terraform-dir-rel-path: src/dev
          tfcmt-version: ${{ env.TFCMT_VERSION }}
          tfcmt-target-var: example-svc-dev
          tfcmt-config-rel-path: .tfcmt/github.yml
          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-pr-head-sha: ${{ github.event.pull_request.head.sha }}
          github-pr-number: ${{ github.event.number }}
