name: <github_repository_name>-ci

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - ".gitignore"
      - "**.md"
      - "docs/**"

env:
  TF_VERSION: <terraform_version>
  TFCMT_VERSION: <github_actions_tfcmt_version>

jobs:
  terraform_plan_prd:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      issues: write
      pull-requests: write
    steps:
      - name: main checkout
        uses: actions/checkout@v4

      - name: merge into default branch
        run: bash ${{ github.workspace }}/bin/git-merge.sh ${{ github.head_ref }} ${{ github.base_ref }}

      - name: authenticate to google cloud
        uses: google-github-actions/auth@v2
        with:
          service_account: ${{ secrets.<github_secret_prd_gcp_iam_service_account_key> }}
          workload_identity_provider: ${{ secrets.<github_secret_prd_gcp_iam_workload_identity_key> }}

      - name: generate github apps access token
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.<github_secret_lvgs_github_app_id> }}
          private-key: ${{ secrets.<github_secret_lvgs_github_app_private_key> }}
          owner: "lv-technology-strategy"

      - name: github modules checkout
        uses: actions/checkout@v4
        with:
          repository: "lv-technology-strategy/github-actions-modules"
          ref: <github_actions_tfaction_version>
          path: ${{ github.workspace }}/.github/modules
          token: ${{ steps.generate_token.outputs.token }}

      - name: terraform ci
        uses: ./.github/modules/actions/terraform-ci
        with:
          github-apps-access-token: ${{ steps.generate_token.outputs.token }}
          comment-tfplan-results: enabled
          terraform-version: ${{ env.TF_VERSION }}
          terraform-dir-rel-path: src/prd
          tfcmt-version: ${{ env.TFCMT_VERSION }}
          tfcmt-target-var: <service_kebab_name>-prd
          tfcmt-config-rel-path: .tfcmt/github.yml
          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-pr-head-sha: ${{ github.event.pull_request.head.sha }}
          github-pr-number: ${{ github.event.number }}

  terraform_plan_stg:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      issues: write
      pull-requests: write
    steps:
      - name: main checkout
        uses: actions/checkout@v4

      - name: merge into default branch
        run: bash ${{ github.workspace }}/bin/git-merge.sh ${{ github.head_ref }} ${{ github.base_ref }}

      - name: authenticate to google cloud
        uses: google-github-actions/auth@v2
        with:
          service_account: ${{ secrets.<github_secret_stg_gcp_iam_service_account_key> }}
          workload_identity_provider: ${{ secrets.<github_secret_stg_gcp_iam_workload_identity_key> }}

      - name: generate github apps access token
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.<github_secret_lvgs_github_app_id> }}
          private-key: ${{ secrets.<github_secret_lvgs_github_app_private_key> }}
          owner: "lv-technology-strategy"

      - name: github modules checkout
        uses: actions/checkout@v4
        with:
          repository: "lv-technology-strategy/github-actions-modules"
          ref: <github_actions_tfaction_version>
          path: ${{ github.workspace }}/.github/modules
          token: ${{ steps.generate_token.outputs.token }}

      - name: terraform ci
        uses: ./.github/modules/actions/terraform-ci
        with:
          github-apps-access-token: ${{ steps.generate_token.outputs.token }}
          comment-tfplan-results: enabled
          terraform-version: ${{ env.TF_VERSION }}
          terraform-dir-rel-path: src/stg
          tfcmt-version: ${{ env.TFCMT_VERSION }}
          tfcmt-target-var: <service_kebab_name>-stg
          tfcmt-config-rel-path: .tfcmt/github.yml
          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-pr-head-sha: ${{ github.event.pull_request.head.sha }}
          github-pr-number: ${{ github.event.number }}

  terraform_plan_dev:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      issues: write
      pull-requests: write
    steps:
      - name: main checkout
        uses: actions/checkout@v4

      - name: merge into default branch
        run: bash ${{ github.workspace }}/bin/git-merge.sh ${{ github.head_ref }} ${{ github.base_ref }}

      - name: authenticate to google cloud
        uses: google-github-actions/auth@v2
        with:
          service_account: ${{ secrets.<github_secret_dev_gcp_iam_service_account_key> }}
          workload_identity_provider: ${{ secrets.<github_secret_dev_gcp_iam_workload_identity_key> }}

      - name: generate github apps access token
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.<github_secret_lvgs_github_app_id> }}
          private-key: ${{ secrets.<github_secret_lvgs_github_app_private_key> }}
          owner: "lv-technology-strategy"

      - name: github modules checkout
        uses: actions/checkout@v4
        with:
          repository: "lv-technology-strategy/github-actions-modules"
          ref: <github_actions_tfaction_version>
          path: ${{ github.workspace }}/.github/modules
          token: ${{ steps.generate_token.outputs.token }}

      - name: terraform ci
        uses: ./.github/modules/actions/terraform-ci
        with:
          github-apps-access-token: ${{ steps.generate_token.outputs.token }}
          comment-tfplan-results: enabled
          terraform-version: ${{ env.TF_VERSION }}
          terraform-dir-rel-path: src/dev
          tfcmt-version: ${{ env.TFCMT_VERSION }}
          tfcmt-target-var: <service_kebab_name>-dev
          tfcmt-config-rel-path: .tfcmt/github.yml
          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-pr-head-sha: ${{ github.event.pull_request.head.sha }}
          github-pr-number: ${{ github.event.number }}
