name: <github_repository_name>-diff-check

on:
  schedule:
    - cron: "0 0 * * 1-5"

env:
  TF_VERSION: <terraform_version>

jobs:
  terraform_diff_check_prd:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      issues: write
      pull-requests: write
    steps:
      - name: main checkout
        uses: actions/checkout@v4

      - name: authenticate to google cloud
        uses: google-github-actions/auth@v2
        with:
          service_account: ${{ secrets.<github_secret_prd_gcp_iam_service_account_key> }}
          workload_identity_provider: ${{ secrets.<github_secret_prd_gcp_iam_workload_identity_key> }}

      - name: generate github apps access token
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.<github_secret_lvgs_github_app_id> }}
          private-key: ${{ secrets.<github_secret_lvgs_github_app_private_key> }}
          owner: "lv-technology-strategy"

      - name: github modules checkout
        uses: actions/checkout@v4
        with:
          repository: "lv-technology-strategy/github-actions-modules"
          ref: <github_actions_tfaction_version>
          path: ${{ github.workspace }}/.github/modules
          token: ${{ steps.generate_token.outputs.token }}

      - name: terraform diff check
        uses: ./.github/modules/actions/terraform-diff-check
        with:
          github-apps-access-token: ${{ steps.generate_token.outputs.token }}
          terraform-version: ${{ env.TF_VERSION }}
          terraform-dir-rel-path: src/prd
          slack-token: ${{ secrets.<github_secret_slack_app_oauth_token_key> }}
          slack-channel-id: ${{ secrets.<github_secret_prd_slack_channel_id_key> }}
          slack-bot-name: <slack_tfnotify_bot_name>

  terraform_diff_check_stg:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      issues: write
      pull-requests: write
    steps:
      - name: main checkout
        uses: actions/checkout@v4

      - name: authenticate to google cloud
        uses: google-github-actions/auth@v2
        with:
          service_account: ${{ secrets.<github_secret_stg_gcp_iam_service_account_key> }}
          workload_identity_provider: ${{ secrets.<github_secret_stg_gcp_iam_workload_identity_key> }}

      - name: generate github apps access token
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.<github_secret_lvgs_github_app_id> }}
          private-key: ${{ secrets.<github_secret_lvgs_github_app_private_key> }}
          owner: "lv-technology-strategy"

      - name: github modules checkout
        uses: actions/checkout@v4
        with:
          repository: "lv-technology-strategy/github-actions-modules"
          ref: <github_actions_tfaction_version>
          path: ${{ github.workspace }}/.github/modules
          token: ${{ steps.generate_token.outputs.token }}

      - name: terraform diff check
        uses: ./.github/modules/actions/terraform-diff-check
        with:
          github-apps-access-token: ${{ steps.generate_token.outputs.token }}
          terraform-version: ${{ env.TF_VERSION }}
          terraform-dir-rel-path: src/stg
          slack-token: ${{ secrets.<github_secret_slack_app_oauth_token_key> }}
          slack-channel-id: ${{ secrets.<github_secret_stg_slack_channel_id_key> }}
          slack-bot-name: <slack_tfnotify_bot_name>

  terraform_diff_check_dev:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      issues: write
      pull-requests: write
    steps:
      - name: main checkout
        uses: actions/checkout@v4

      - name: authenticate to google cloud
        uses: google-github-actions/auth@v2
        with:
          service_account: ${{ secrets.<github_secret_dev_gcp_iam_service_account_key> }}
          workload_identity_provider: ${{ secrets.<github_secret_dev_gcp_iam_workload_identity_key> }}

      - name: generate github apps access token
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.<github_secret_lvgs_github_app_id> }}
          private-key: ${{ secrets.<github_secret_lvgs_github_app_private_key> }}
          owner: "lv-technology-strategy"

      - name: github modules checkout
        uses: actions/checkout@v4
        with:
          repository: "lv-technology-strategy/github-actions-modules"
          ref: <github_actions_tfaction_version>
          path: ${{ github.workspace }}/.github/modules
          token: ${{ steps.generate_token.outputs.token }}

      - name: terraform diff check
        uses: ./.github/modules/actions/terraform-diff-check
        with:
          github-apps-access-token: ${{ steps.generate_token.outputs.token }}
          terraform-version: ${{ env.TF_VERSION }}
          terraform-dir-rel-path: src/dev
          slack-token: ${{ secrets.<github_secret_slack_app_oauth_token_key> }}
          slack-channel-id: ${{ secrets.<github_secret_dev_slack_channel_id_key> }}
          slack-bot-name: <slack_tfnotify_bot_name>
