name: example-svc-terraform-diff-check

on:
  schedule:
    - cron: "0 0 * * 1-5"

env:
  TF_VERSION: 1.12.2

jobs:
  terraform_diff_check_prd:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      issues: write
      pull-requests: write
    steps:
      - name: main checkout
        uses: actions/checkout@v4

      - name: authenticate to google cloud
        uses: google-github-actions/auth@v2
        with:
          service_account: ${{ secrets.PRD_GCP_IAM_SERVICE_ACCOUNT }}
          workload_identity_provider: ${{ secrets.PRD_GCP_IAM_WORKLOAD_IDENTITY_PROVIDER }}

      - name: generate github apps access token
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.LVGS_GITHUB_APP_ID }}
          private-key: ${{ secrets.LVGS_GITHUB_APP_PRIVATE_KEY }}
          owner: "lv-technology-strategy"

      - name: github modules checkout
        uses: actions/checkout@v4
        with:
          repository: "lv-technology-strategy/github-actions-modules"
          ref: v1.0.2
          path: ${{ github.workspace }}/.github/modules
          token: ${{ steps.generate_token.outputs.token }}

      - name: terraform diff check
        uses: ./.github/modules/actions/terraform-diff-check
        with:
          github-apps-access-token: ${{ steps.generate_token.outputs.token }}
          terraform-version: ${{ env.TF_VERSION }}
          terraform-dir-rel-path: src/prd
          slack-token: ${{ secrets.TF_SLACK_APP_OAUTH_TOKEN }}
          slack-channel-id: ${{ secrets.PRD_TF_SLACK_CHANNEL_ID }}
          slack-bot-name: example-svc-tfnotify

  terraform_diff_check_stg:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      issues: write
      pull-requests: write
    steps:
      - name: main checkout
        uses: actions/checkout@v4

      - name: authenticate to google cloud
        uses: google-github-actions/auth@v2
        with:
          service_account: ${{ secrets.STG_GCP_IAM_SERVICE_ACCOUNT }}
          workload_identity_provider: ${{ secrets.STG_GCP_IAM_WORKLOAD_IDENTITY_PROVIDER }}

      - name: generate github apps access token
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.LVGS_GITHUB_APP_ID }}
          private-key: ${{ secrets.LVGS_GITHUB_APP_PRIVATE_KEY }}
          owner: "lv-technology-strategy"

      - name: github modules checkout
        uses: actions/checkout@v4
        with:
          repository: "lv-technology-strategy/github-actions-modules"
          ref: v1.0.2
          path: ${{ github.workspace }}/.github/modules
          token: ${{ steps.generate_token.outputs.token }}

      - name: terraform diff check
        uses: ./.github/modules/actions/terraform-diff-check
        with:
          github-apps-access-token: ${{ steps.generate_token.outputs.token }}
          terraform-version: ${{ env.TF_VERSION }}
          terraform-dir-rel-path: src/stg
          slack-token: ${{ secrets.TF_SLACK_APP_OAUTH_TOKEN }}
          slack-channel-id: ${{ secrets.STG_TF_SLACK_CHANNEL_ID }}
          slack-bot-name: example-svc-tfnotify

  terraform_diff_check_dev:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      issues: write
      pull-requests: write
    steps:
      - name: main checkout
        uses: actions/checkout@v4

      - name: authenticate to google cloud
        uses: google-github-actions/auth@v2
        with:
          service_account: ${{ secrets.DEV_GCP_IAM_SERVICE_ACCOUNT }}
          workload_identity_provider: ${{ secrets.DEV_GCP_IAM_WORKLOAD_IDENTITY_PROVIDER }}

      - name: generate github apps access token
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.LVGS_GITHUB_APP_ID }}
          private-key: ${{ secrets.LVGS_GITHUB_APP_PRIVATE_KEY }}
          owner: "lv-technology-strategy"

      - name: github modules checkout
        uses: actions/checkout@v4
        with:
          repository: "lv-technology-strategy/github-actions-modules"
          ref: v1.0.2
          path: ${{ github.workspace }}/.github/modules
          token: ${{ steps.generate_token.outputs.token }}

      - name: terraform diff check
        uses: ./.github/modules/actions/terraform-diff-check
        with:
          github-apps-access-token: ${{ steps.generate_token.outputs.token }}
          terraform-version: ${{ env.TF_VERSION }}
          terraform-dir-rel-path: src/dev
          slack-token: ${{ secrets.TF_SLACK_APP_OAUTH_TOKEN }}
          slack-channel-id: ${{ secrets.DEV_TF_SLACK_CHANNEL_ID }}
          slack-bot-name: example-svc-tfnotify
